<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1>This is how you would send mail via nodemailer and a form:</h1>
  <!-- passed in via handlebars -->
  {{{body}}}
  <!-- end dynamic stuff -->
  <script src="js/main.js"></script>
</body>

</html>